#card{
    /* position:relative; */
    background: transparent;
    z-index: 3;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 240px;
    height: 300px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 40px;
    transition: 0.5s;
    overflow: hidden;
}
.container .box:hover{
    transform: translateY(-20px);

}
.container .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,#e1ff00,#ff0058);
}

.container .box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,#e1ff00,#ff0058);
    filter: blur(30px);
}
.container .box:nth-child(2)::after,
.container .box:nth-child(2)::before{
    background: linear-gradient(315deg, #03a9f4,#ff0058);
}
.container .box:nth-child(3)::after,
.container .box:nth-child(3)::before{
    background: linear-gradient(45deg, #4dff01,#ff0058);
}
.container .box:nth-child(4)::after,
.container .box:nth-child(4)::before{
    background: linear-gradient(315deg, #03a9f4 , #4dff01);
}
.container .box:nth-child(6)::after,
.container .box:nth-child(6)::before{
    background: linear-gradient(315deg, #03a9f4,#ff0058);
}
.container .box:nth-child(7)::after,
.container .box:nth-child(7)::before{
    background: linear-gradient(45deg, #4dff01,#ff0058);
}
.container .box:nth-child(8)::after,
.container .box:nth-child(8)::before{
    background: linear-gradient(315deg, #03a9f4 , #4dff01);
}
.container .box:nth-child(10)::after,
.container .box:nth-child(10)::before{
    background: linear-gradient(315deg, #03a9f4,#ff0058);
}
.container .box:nth-child(11)::after,
.container .box:nth-child(11)::before{
    background: linear-gradient(45deg, #4dff01,#ff0058);
}
.container .box:nth-child(12)::after,
.container .box:nth-child(12)::before{
    background: linear-gradient(315deg, #03a9f4 , #4dff01);
}


.container .box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    z-index: 3;
}

.container .box span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}
.container .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}
.container .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container .box .icon img{
    position: absolute;
    width: 140px;
    object-fit: cover;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    color: #fff;
    margin-top: 10px;

}
.container .box:hover .icon img{
    width:100px ;
}
.container .box .content{
    position: absolute;
    top: 75%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 1;
}
.container .box:hover .content{
    top: 120px;
}


.container .box .content h3{
    margin: 0;
    padding-bottom: 15px;
    color: #fff;
    font-size: 24px;
    font-family: 'Lobster', cursive;

}
.container .box .content p{
    margin-bottom: 10px;
    padding: 0;
    color: #fff;
    font-size: 16px;
    opacity: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.container .box:hover .content p{
    opacity: 1;
}

.box  a{
    position: relative;
    display: inline-block;
    font-size: 12px;
    padding: 8px 16px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 40px;
    background: linear-gradient(90deg,#0161c8d4,#55e6fce0);
    overflow: hidden;
    bottom: -122px;
    opacity: 0;
    z-index: 10;
}
.box:hover a{
    opacity: 1;
    pointer-events: all;
}

.box a span{
    position: absolute;
    background: #fff;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
}
@keyframes ripple{
    0%{
        width: 0;
        height: 0;
        opacity: 0.3;
    }
    100%{
        width: 800px;
        height: 800px;
        opacity: 0%;
    }
}



